<div class="container-fluid py-4" >

  <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-outline-primary me-2" (click)="switchLanguage('en')">English</button>
    <button class="btn btn-outline-success" (click)="switchLanguage('hi')">हिन्दी</button>
  </div>
  
    <div class="p-4">
      <div class="card-body">
        <h3 class="card-title text-center mb-4">{{ content[language].title }}</h3>
        <ul class="list-group list-group-flush">
          <li *ngFor="let point of content[language].points" class="list-group-item">
            <i class="bi bi-arrow-right-circle mx-2"></i> {{ point }}
          </li>
        </ul>
      </div>
    </div>

    
  </div>
  
