<!-- hero-section.component.html -->
<section
  class="about-section d-flex p-5"
  style="background-color: #f3ecec81"
  id="about"
>
  <div class="container-fluid">
    <div class="row d-flex justify-content-between">
      <!-- Left Content -->
      <div class="col-lg-8 col-md-12 mb-3 text-left">
        <h2>Arya's BMS & IA Training Institute</h2>
        <div
          class="my-4 d-flex flex-wrap justify-content-between button-container col-lg-8 col-md-12"
        >
          <div class="button-div">
            <button
              class="text-body-secondary btn border"
              [ngClass]="{ 'active-button': activeContent === 'institute' }"
              (click)="showContent('institute')"
            >
              Institute
            </button>
          </div>
          <div class="button-div">
            <button
              class="text-body-secondary btn border"
              [ngClass]="{ 'active-button': activeContent === 'founder' }"
              (click)="showContent('founder')"
            >
              Founder
            </button>
          </div>
          <div class="button-div">
            <button
              class="text-body-secondary btn border"
              [ngClass]="{ 'active-button': activeContent === 'mission' }"
              (click)="showContent('mission')"
            >
              Mission
            </button>
          </div>
          <div class="button-div">
            <button
              class="text-body-secondary btn border"
              [ngClass]="{ 'active-button': activeContent === 'vision' }"
              (click)="showContent('vision')"
            >
              Vision
            </button>
          </div>
        </div>

        <!-- Institute Content -->
        <div *ngIf="activeContent === 'institute'">
          <p>At Arya Institute :</p>
          <ul class="background-color">
            <li>
              <i class="bi bi-arrow-right-circle mx-2"></i>ARYA’s Training Institute is an ISO 9001:2015 certified institute.
            </li>
            <li>
              <i class="bi bi-arrow-right-circle mx-2"></i>Offers 100% practical training in: <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              BMS software programming <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              ELV/Electrical Panel and Switchgear wiring through workshop classes
            </li>
            <li>
              <i class="bi bi-arrow-right-circle mx-2"></i>Limited batch sizes
              ensure personalized attention for each student.
            </li>
            <li>
              <i class="bi bi-arrow-right-circle mx-2"></i>Affordable training
              with placement support and internships.
            </li>
            <li>
              <i class="bi bi-arrow-right-circle mx-2"></i>Strong industry
              network to help students kickstart their BMS careers.
            </li>
          </ul>
        </div>

        <!-- Founder Content -->
        <div *ngIf="activeContent === 'founder'">
          <p>Our Founder & Trainer: <strong>Mr. Niraj Kumar</strong></p>
          <ul>
            <li>
              <i class="bi bi-arrow-right-circle mx-2"></i>Over 15 years of
              industry experience in BMS,The expert has worked as a BMS designer
              and commissioning engineer in Gulf Countries such as Qatar, UAE,
              and Kuwait.
            </li>
            <li>
              <i class="bi bi-arrow-right-circle mx-2"></i>Passionate about
              bridging the gap between theory and real-world BMS applications.
            </li>
            <li>
              <i class="bi bi-arrow-right-circle mx-2"></i>Committed to
              delivering industry-relevant training to prepare students for
              successful careers.
            </li>
            <li>
              <i class="bi bi-arrow-right-circle mx-2"></i>Focused on providing
              high-quality education with practical experience.
            </li>
          </ul>
        </div>

        <!-- Mission Content -->
        <div *ngIf="activeContent === 'mission'">
          <p>Our Mission :</p>
          Our mission is to provide affordable, 100% practical training in
          Building Management Systems (BMS) and Industrial Automation using
          advanced infrastructure and real-time equipment. With over 15 years of
          industry experience, we aim to develop skilled professionals ready for
          immediate employment as BMS Operators, Technicians, and Commissioning
          Engineers—meeting the growing demand, especially in Gulf countries.
        </div>

        <!-- Vision Content -->
        <div *ngIf="activeContent === 'vision'">
          <p>Our Vision :</p>
          To be a globally recognized center of excellence in BMS & Industrial
          Automation training, empowering individuals with practical skills and
          industry-relevant knowledge to build successful careers in India and
          abroad
        </div>
      </div>

      <!-- Right Image -->
      <div class="col-lg-3 col-md-12 text-center">
        <div class="image-div">
          <img src="images/founder.jpg" alt="founder" />
          <p class="mt-1">Mr. Niraj Kumar | Founder</p>
        </div>
      </div>
    </div>
  </div>
</section>
