<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light p-3 sticky-top    ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ARYA INSTITUTE</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="courses">COURSES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">PLACEMENTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">GALLERY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact">CONTACT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">VALIDATE CERTIFICATE</a>
          </li>
        </ul>
        <button class="btn btn-primary margin">REGISTER NOW</button>
      </div>
    
    </div>
  </nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light p-3 sticky-top">
  <div class="container-fluid">
    <h2><a class="navbar-brand" routerLink="/home">ARYA'S INSTITUTE</a></h2>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/courses">COURSES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/placements">PLACEMENTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/gallery">GALLERY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">CONTACT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/validate-certificate"
            >VALIDATE CERTIFICATE</a
          >
        </li>
      </ul>
      <button class="btn btn-primary margin">REGISTER NOW</button>
    </div>
  </div>
</nav>
