.margin{
    margin-left: 12%;
}

a{
    cursor:  pointer !important;
}

.navbar{
    border-bottom: 0.1px solid orangered;
}

.navbar-brand{
    color: orangered;
    font-size: 1.3rem;
}

.active{
    background-color: red;
}

@media (max-width: 1124px) {
    .margin{
        margin-left: 5%;
    }
}


@media  (max-width: 1080px) {
    .margin{
        margin-left: 0%;
    }
}
