<footer class="bg-dark text-white pt-5">
    <div class="container">
      <div class="row">
        <!-- Column 1: Company Name and Description -->
        <div class="col-md-3">
          <a href="#" class="text-white h4">ARYA'S INSTITUTE</a>
          <p class="mt-2">Arya Institute offers specialized BMS training with hands-on experience, small batch sizes, and affordable courses. We provide placement support, internships, and strong industry connections to help kickstart your career.</p>
        </div>
        
        <!-- Column 2: Contact Us -->
        <div class="col-md-3">
          <h5>Contact Us</h5>
          <p><strong>Address:</strong> 6th Floor, Mahaveer Trade Center, Jamshedpur, Jharkhand, Tata Kandra
            Road, Gamharia, Jamshedpur - 832108 (Gamharia)</p>
          <p><strong>Phone:</strong> +91-9631412334</p>
        </div>
        
        <!-- Column 3: Social Media -->
        <div class="col-md-3">
          <h5>Follow Us</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white"><i class="bi bi-facebook me-2"></i>Facebook</a></li>
            <li><a href="#" class="text-white"><i class="bi bi-twitter me-2"></i>Twitter</a></li>
            <li><a href="#" class="text-white"><i class="bi bi-instagram me-2"></i>Instagram</a></li>
          </ul>
        </div>
        
        <!-- Column 4: Quick Links -->
        <div class="col-md-3">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Products</a></li>
            <li><a class="nav-link" routerLink="/gallery">Gallery</a></li>
            <li><a href="#" class="text-white">Contact</a></li>
            <li><a routerLink="/privacy-policy" class="text-white">Privacy Policy</a></li>
            <li><a  routerLink="/terms-and-conditions" class="text-white">Terms & Conditions</a></li>
          </ul>
        </div>
      </div>
      
      <!-- Footer Bottom -->
      <div class="row mt-4">
        <div class="col-12 text-center">
          <p>&copy; 2025 Arya Institute. All Rights Reserved.</p>
          <a href="https://storyset.com/education" class="storyset">Education illustrations by Storyset</a>
        </div>
      </div>
    </div>
  </footer>
  