<div class="container-fluid py-5" style="background-color: #f0ebeb77">
    <div class="container">
        <div class="row g-4">
            <h2 class="text-center my-3">Equipement and Machines Which We Use To Train Students</h2>
            
            @for (item of images; track $index) {
                <div class="col-md-4 col-sm-6 col-12" >
                    <div class="gallery-item">
                      <img [src]="item" class="img-fluid" [alt]="'Gallery Image ' + ($index)" loading="lazy">
                    </div>
                  </div>
            }
            
    
            
    
            
    
            
    
            
    
            
    
            
    
            
    
            
    
            
    
            
    
            
    
            
    
            
    
            
    
            
    
        </div>
    </div>
</div>