<!-- hero-section.component.html -->
 <app-banner></app-banner>
<section class="hero-section  d-flex align-items-center" >
    <div class="container-fluid p-5 ">
      <div class="row align-items-center">
        <!-- Left Content -->
        <div class="col-lg-6 col-md-12 mb-3 text-left ">
          <h1 class="display-4">Arya’s BMS & Industrial Training Institute</h1>
          <p class="lead mt-3">
            Get hands-on Building Management Systems training with expert instructors, internships, and placement assistance at affordable fees.
          </p>
          <div class="mt-4">
            <a href="https://wa.me/9631412334" target="_blank">
              <button class="btn button1 me-3">
                Enroll Now
              </button>
            </a>
            <a href="tel:9631412334">
              <button class="btn button2">
                <i class="bi bi-telephone-fill"></i> Call us now!
              </button>
            </a>
            <!-- <button class="btn button2"><i class="bi bi-telephone-fill"></i> Call us now! </button> -->
          </div>
        </div>
  
        <!-- Right Image -->
        <div class="col-lg-6 col-md-12 text-center">
          <!-- <div style="background-color: #f8f9fa; height: 400px; border: 2px dashed #ccc; display: flex; align-items: center; justify-content: center;">
            
          </div> -->
          <img src="images/hero.svg" alt="" style="max-width: 1000px; height: auto;">
        </div>
      </div>
    </div>
  </section>
  